header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-height: 100px;
  }
  
  #header-left{
    display: flex;
    flex-direction: row;
  }
  
  #header-left img {
    width: 100px; 
    height: 30px; 
    margin-right: 10px; 
  }
  #header-right{
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #main-content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    row-gap: 120px;
    column-gap: 40px;
    margin-left: 200px;
  }
  
  .produto img{
    width: 300px;
  }